.table1Black{
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.74);
}

.districtTopic{
    color: #ffff;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40%;
    font-weight: bold;
}

.insideBox{
    width: 720px;
    height: 350px;
    background-color: grey;
    border-radius: 20px;
}

.dataBox1{
    width: 800px;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 25% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TableStyles.css */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .arrow1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 20px;
  }